{% extends "trading/base.html" %}

{% block content %}
<div class="container">
  <h3>Select passengers</h3>
  <form class="form-horizontal well" method="POST" action="tradingSelectPassenger">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="passengerHigh">High</label>
        <div class="controls">
          <select id="passengerHigh" name="passengerHigh"
            {% if request.session.availablePassengers.high == 0 %}
              disabled="disabled"
            {% endif %}
          >
          {% for i in high %}
            <option>{{ i }}</option>
          {% endfor %}
          </select>
          <p class="help-inline">{{ request.session.availablePassengers.high }} available.</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="passengerMiddle">Middle</label>
        <div class="controls">
          <select id="passengerMiddle" name="passengerMiddle"
            {% if request.session.availablePassengers.middle == 0 %}
              disabled="disabled"
            {% endif %}
          >
          {% for i in middle %}
            <option>{{ i }}</option>
          {% endfor %}
          </select>
          <p class="help-inline">{{ request.session.availablePassengers.middle }} available.</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="passengerLow">Low</label>
        <div class="controls">
          <select id="passengerLow" name="passengerLow"
            {% if request.session.availablePassengers.low == 0 %}
              disabled="disabled"
            {% endif %}
          >
          {% for i in low %}
            <option>{{ i }}</option>
          {% endfor %}
          </select>
          <p class="help-inline">{{ request.session.availablePassengers.low }} available.</p>
        </div>
      </div>
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Engage!" />
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
