{% extends "trading/base.html" %}

{% block content %}
<div class="container">
  <h3>Speculative Trade &amp; Smuggling</h3>
  <form class="form-horizontal well" method="POST" action="tradingSpeculative" >
    <fieldset>
      <div class="control-group">
        <label class="control-label">Find Supplier</label>
        <div class="controls">
          <label class="radio inline" for="normal">
            <input id="normal" name="supplier" type="radio" value="normal" checked="checked" />
            Normal
          </label>
          <label class="radio inline" for="blackMarket">
            <input id="blackMarket" name="supplier" type="radio" value="blackMarket" />
            Black Market
          </label>
          <label class="radio inline" for="online">
            <input id="online" name="supplier" type="radio" value="online" />
            Online
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="supplier">Supplier roll</label>
        <div class="controls">
          <input type="text" id="search" name="search" placeholder="0" />
          <p class="help-inline">Players search roll, including all modifiers(including Starport modifier).</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="broker">Broker skill</label>
        <div class="controls">
          <input type="text" id="broker" name="broker" placeholder="0" />
          <p class="help-inline">Players broker skill.</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="intOrSocial">Intelligence or Social</label>
        <div class="controls">
          <input type="text" id="intOrSocial" name="intOrSocial" placeholder="0" />
          <p class="help-inline">Players Intelligence or Social Standing DM, whichever is higher.</p>
        </div>
      </div>
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Engage!" />
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
